<app-menu-bar></app-menu-bar>
<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="EXCLUSIVO" gameType="PS4 | PS5" gamePrice="299,99"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="DIGITAL" gameType="PC | DIGITAL" gamePrice="199,99"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="EXCLUSIVO" gameType="PS5" gamePrice="499,99"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="NEW" gameType="PC | PS4" gamePrice="99,99"></app-card>
</div>